<footer>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4 col-3">
          <h5 class="footerList"><b>ABOUT</b></h5>
          <p>
            <a>About Us</a><br>
            <a>Contact</a><br>
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 col-3">
          <h5 class="footerList"><b>SERVICES</b></h5>
          <p>
            <a>Delivery</a><br>
            <a>Order</a><br>
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 col-3">
          <h5 class="footerList"><b>HELP</b></h5>
          <p class="list-col">
            <a>Help</a><br>
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 col-3">
            <h5 class="footerList"><b>Address</b></h5>
            <p class="list-col">
              <a>Contact</a>
            </p>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <a></a>
        </div>
        <div class="col-md-6 col-xs-12">
          <p>
            <span>
                <a 
                href="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.svg"
                 target="_blank"><i class="fa fa-facebook"></i></a>
            </span>
          </p>
        </div>
        <div class="col-md-3 col-xs-12">
          <!-- <ul class="menu-socials">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </section>
</footer>