<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Buyer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">
            (current)
          </span>
        </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
<div id="carouselId" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="{'active' : i == 0}"
     *ngFor="let banner of bannerModel; let i = index">

      <img class="img-fluid" [src]="banner.bannerImage" 
      style="height: 400px; width: 100%">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselId" data-slide="prev">
    <span>
      <svg width="14.6" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="dark"></path>
      </svg>
    </span>
  </a>
  <a class="carousel-control-next" href="#carouselId" data-slide="next">
    <span>
      <svg width="14.6" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="rightArrow">
        <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="dark"></path>
      </svg>
    </span>
  </a>
</div>
<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-12'>
      <h1 class="text-muted mt-5">
        Promotion
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4' *ngFor="let data of adsProductModel; let i = index">
      <div *ngIf="i < 3">
        <mat-card>
          <img class="img-fluid" [src]="data.bannerImage">
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-product [adsProductModel]="adsProductModel"></app-product>
<app-footer></app-footer>