<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-12'>
      <h1>
        Product
      </h1>
    </div>
  </div>
  <owl-carousel #owlElement [options]="sliderOptions" [items]="adsProductModel"
   [carouselClasses]="['owl-theme', 'row', 'sliding']">

    <div class="item" *ngFor="let data of adsProductModel; let i = index">
      <div class="gridRow">
        <mat-card>
          <img class="img-fluid" [src]="data.adsImageName">
        </mat-card>
      </div>
    </div>
  </owl-carousel>
</div>

